EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
EXPO_PUBLIC_KEYCLOAK_ISSUER=http://10.0.2.2:18080/realms/pawtner
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=pawtner-mobile
EXPO_PUBLIC_KEYCLOAK_REDIRECT_URL=com.pawtner.oauth://oauthredirect
EXPO_PUBLIC_ALLOW_INSECURE_HTTP=true
EXPO_PUBLIC_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
